$bodyBackground: #fff;

$headerTextColor: #2c2f3c;

$headerBackground: url(../img/m-h-day.jpg) center no-repeat; 

$btnColor: #699900;
$textBtnColor: #f2f3f7;

$cardBackground: #21232e;

$banerGradient1: #699901;
$banerGradient2: #2b59de;

$markColor: #14a0c7;

$headSectionColor: #2c2f3c;
