$bodyBackground: #21232e;

$headerTextColor : #fff;

$headerBackground: url(../img/m-h-night.jpg) center no-repeat;

$btnColor: #e3ac00;
$textBtnColor: #ebe6f7;

$cardBackground: #3b3f50;

$banerGradient1: #e3ab01;
$banerGradient2: #912a53;

$markColor: #ff4e33;

$headSectionColor: #fff;
